@define-color kusozako_shadow_color Black;

window {
    /*KUSOZAKO_BACKGROUND_IMAGE*/
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

label {
    font-size: 16px;
    color: White;
    background-color: Transparent;
    text-shadow:
        3px 3px 5px @kusozako_shadow_color,
        -3px -3px 5px @kusozako_shadow_color,
        3px -3px 5px @kusozako_shadow_color,
        -3px 3px 5px @kusozako_shadow_color;
}

entry {
    border-radius: 8px;
    /*KUSOZAKO_FOREGROUND_COLOR*/
    /*KUSOZAKO_BACKGROUND_COLOR*/
}

treeview {
    /*KUSOZAKO_FOREGROUND_COLOR*/
    /*KUSOZAKO_BACKGROUND_COLOR*/
}

treeview.view:selected:focus,
treeview.view:selected {
    color: White;
    background-color: Orange;
}
